@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%; }

button:hover {
  cursor: pointer; }

header {
  width: 100%;
  min-height: 960px;
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: 31% 0;
  background-size: 1500px;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  position: relative; }
  header nav:before {
    content: "";
    will-change: opacity;
    transition: all 400ms;
    background-color: #FFF;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; }
  header nav {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; }
    header nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      header nav ul li a {
        text-transform: capitalize;
        text-decoration: none;
        color: #1c2056;
        font-size: 25px;
        visibility: hidden;
        transition: color 400ms; }
        header nav ul li a:hover {
          color: #ff6a6d; }
  header nav.navActive::before {
    content: "";
    background-color: #FFF;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: .9;
    visibility: visible; }
  header nav.navActive {
    opacity: 1;
    visibility: visible; }
    header nav.navActive ul li a {
      visibility: visible; }
  header div.nav-tgl {
    cursor: pointer;
    position: fixed;
    z-index: 2;
    left: 20px;
    top: 38px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ff6a6d;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center; }
    header div.nav-tgl > span {
      position: relative;
      height: 2px;
      width: 25px;
      border-radius: 1px;
      background-color: #FFF; }
      header div.nav-tgl > span::before, header div.nav-tgl > span::after {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        border-radius: 1px;
        background-color: #FFF;
        transition: all 200ms;
        width: 25px; }
      header div.nav-tgl > span::before {
        top: -7px; }
      header div.nav-tgl > span::after {
        top: 7px; }
  header div.navToggleActive span {
    height: 0; }
    header div.navToggleActive span::after, header div.navToggleActive span::before {
      top: 0; }
    header div.navToggleActive span::after {
      transform: rotate(-45deg); }
    header div.navToggleActive span::before {
      transform: rotate(45deg); }
  header button.login-button {
    background-color: #ff6a6d;
    box-shadow: -5px 6px 49px 5px rgba(255, 0, 5, 0.19);
    border-radius: 21px;
    color: white;
    padding: 12px 50px;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer; }
  header div.header-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    top: 150px;
    font-size: 24px; }
    header div.header-content h1 {
      font: 700 1.33em/1.4em "Lato", sans-serif;
      width: 265px;
      color: #3b3838; }
    header div.header-content q, header div.header-content blockquote {
      font: 300 0.75em/1.4em "Lato", sans-serif;
      margin-top: 30px;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.35); }
      header div.header-content q span, header div.header-content blockquote span {
        color: #ff6a6d;
        font-weight: 400; }
    header div.header-content blockquote {
      display: none; }
    header div.header-content div.header-content-buttons {
      display: flex;
      flex-direction: column;
      width: 100%; }
      header div.header-content div.header-content-buttons button {
        border-radius: 40px;
        font: 300 18px "Lato", sans-serif;
        text-transform: capitalize;
        margin-top: 35px;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.45);
        transition: all 200ms;
        padding: 12px 0; }
        header div.header-content div.header-content-buttons button:nth-of-type(1) {
          background-color: #ff6a6d;
          border: none;
          color: #fbfcfc; }
        header div.header-content div.header-content-buttons button:nth-of-type(2) {
          background: none;
          border: 2px solid #ff6a6d;
          color: #f82a56; }
        header div.header-content div.header-content-buttons button:hover {
          transform: translateY(-3px);
          box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.45); }
        header div.header-content div.header-content-buttons button:focus {
          outline: none; }

main {
  overflow: hidden; }
  main section {
    font-size: 20px;
    padding: 85px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    main section h2 {
      color: #3b3838;
      font: 700 1.4em/2em "Lato", sans-serif;
      text-transform: capitalize; }
      main section h2 span {
        text-transform: lowercase; }
    main section h3 {
      color: rgba(0, 0, 0, 0.65);
      font: 700 1em/2em "Lato", sans-serif;
      text-transform: capitalize; }
    main section p {
      color: rgba(0, 0, 0, 0.65);
      font: 300 0.8em/2em "Lato", sans-serif; }
      main section p::first-letter {
        text-transform: uppercase; }
  main section.one {
    padding-top: 0; }
    main section.one > div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      main section.one > div:nth-of-type(1) p {
        color: rgba(0, 0, 0, 0.65);
        font: 300 0.8em/2em "Lato", sans-serif;
        padding: 10px 60px; }
    main section.one > div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%; }
      main section.one > div:nth-of-type(2) div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 300px; }
        main section.one > div:nth-of-type(2) div img {
          width: 40%;
          max-width: 140px;
          padding: 20px; }
        main section.one > div:nth-of-type(2) div p {
          padding: 10px;
          width: 75%;
          max-width: 250px; }
  main section.two > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 250px; }
    main section.two > div h2 {
      text-transform: none; }
    main section.two > div > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px; }
      main section.two > div > div:first-of-type {
        padding-top: 30px; }
      main section.two > div > div h3 {
        position: relative; }
        main section.two > div > div h3::before {
          content: url("../img/svg/chekmark.svg");
          position: absolute;
          left: -40px;
          bottom: -3px;
          transform: scale(0.55); }
      main section.two > div > div p {
        text-align: justify;
        padding-bottom: 20px; }
  main section.two img {
    z-index: -1;
    position: absolute;
    display: none; }
  main section.two > img.yoga-pose-two {
    transform: scale(0.65) translate(-550px, -80px); }
  main section.two > img.leaves-two {
    bottom: 0;
    left: -75px;
    transform: rotate(0deg) scaleX(-1) scale(0.65); }
  main section.two > img.shape-two {
    top: -95px;
    right: -160px;
    transform: scale(0.6); }
  main section.three > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    main section.three > div h4 {
      text-transform: capitalize;
      font: italic 300 0.8em "Lato", sans-serif;
      color: rgba(0, 0, 0, 0.65); }
    main section.three > div h2 {
      text-transform: capitalize;
      max-width: 300px; }
      main section.three > div h2 span {
        text-transform: lowercase; }
    main section.three > div p {
      text-align: justify;
      max-width: 250px;
      padding: 30px 0; }
    main section.three > div a {
      text-decoration: none;
      color: #8ec7fb;
      text-transform: capitalize;
      font-style: italic;
      font-family: "Lato", sans-serif;
      font-size: .8em;
      font-weight: 400;
      position: relative; }
      main section.three > div a::after {
        content: ">";
        position: absolute;
        bottom: -2px;
        right: -12px; }
      main section.three > div a:hover {
        text-decoration: underline; }
  main section.three > img {
    z-index: -1;
    position: absolute;
    display: none; }
  main section.three > img.shape-three {
    left: -100px;
    bottom: -250px;
    transform: scale(0.7) rotate(30deg); }
  main section.three > img.shape-three-two {
    transform: scale(0.7) rotate(-10deg);
    bottom: -270px;
    right: -120px; }
  main section.three > img.leaves-three {
    bottom: -340px;
    right: -90px;
    transform: scale(0.7) rotate(0deg); }
  main section.four > img {
    z-index: -1;
    position: absolute;
    display: none; }
  main section.four h2 {
    max-width: 300px; }
  main section.four p {
    text-align: justify;
    max-width: 250px;
    padding: 30px 0; }
    main section.four p:nth-of-type(2) {
      display: none; }
  main section.four a {
    text-decoration: none;
    color: #8ec7fb;
    text-transform: capitalize;
    font-style: italic;
    font-family: "Lato", sans-serif;
    font-size: .8em;
    font-weight: 400;
    position: relative; }
    main section.four a::after {
      content: ">";
      position: absolute;
      bottom: -2px;
      right: -12px; }
    main section.four a:hover {
      text-decoration: underline; }

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  overflow: hidden; }
  footer .footer-top {
    display: none; }
  footer .footer-bot {
    flex-wrap: wrap;
    padding-bottom: 85px;
    background: rgba(142, 199, 251, 0.8);
    width: 100%;
    display: flex;
    position: relative; }
    footer .footer-bot div {
      padding-top: 50px;
      width: 50%;
      position: relative; }
      footer .footer-bot div > * {
        transform: translateX(30%); }
      footer .footer-bot div h5 {
        font: 400 0.9em/1em "Lato", sans-serif;
        text-transform: uppercase;
        padding-bottom: 20px; }
      footer .footer-bot div address {
        font-style: normal;
        font: 300 0.85em/2em "Lato", sans-serif; }
      footer .footer-bot div ul {
        list-style-type: none; }
        footer .footer-bot div ul li a {
          font: 300 0.8em/2.5em "Lato", sans-serif;
          text-decoration: none;
          color: rgba(0, 0, 0, 0.65);
          text-transform: capitalize; }
    footer .footer-bot span.copyright {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      font: 300 1em/1em "Lato", sans-serif; }
      footer .footer-bot span.copyright > span {
        display: none; }

@media (max-width: 500px) {
  footer .footer-bot {
    flex-direction: column;
    align-items: center; }
    footer .footer-bot div > * {
      transform: translate(20%); }
    footer .footer-bot span.copyright {
      display: none; } }
@media (min-width: 670px) {
  header {
    background-position: 70% 0; }
    header .header-content {
      left: 110px; }

  main section.two > img.leaves-two, main section.two img.shape-two {
    display: block; }
  main section.three > img.shape-three, main section.three img.shape-three-two, main section.three img.leaves-three {
    display: block; }

  footer .footer-bot {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline; }
    footer .footer-bot div {
      width: auto;
      padding-left: 0; }
    footer .footer-bot span.copyright > span {
      display: inline-block; } }
@media (max-width: 799px) {
  nav {
    transition: all 400ms; } }
@media (min-width: 800px) {
  .container {
    width: 100%; }

  header {
    width: 100%;
    display: flex;
    position: relative; }
    header nav {
      flex-direction: row;
      display: flex;
      visibility: visible;
      opacity: 1;
      background-color: transparent;
      width: auto;
      position: absolute;
      top: 38px;
      left: 50px;
      height: auto; }
      header nav ul {
        list-style-type: none;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        line-height: 50px;
        justify-self: flex-start;
        height: 50px; }
        header nav ul li a {
          font-size: 20px;
          visibility: visible; }
    header button.login-button {
      display: block;
      right: 50px; }
    header div.nav-tgl {
      display: none; }
    header div.header-content h1 {
      width: 450px; }

  main section.one > div:nth-of-type(2) {
    flex-direction: row;
    justify-content: center; }
    main section.one > div:nth-of-type(2) > div {
      height: 300px; }
      main section.one > div:nth-of-type(2) > div:last-of-type img {
        padding-top: 25px; }
  main section.two > div {
    max-width: 350px; }
  main section.four div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
    max-width: 450px; }
    main section.four div h2 {
      max-width: 415px; }
    main section.four div p {
      text-indent: 3em;
      max-width: 390px;
      padding: 30px 0 0 0; }
      main section.four div p:nth-of-type(2) {
        display: block;
        padding: 0 0 30px 0; }
    main section.four div a {
      align-self: flex-start;
      margin-left: 50px; } }
@media (min-width: 1000px) {
  header div.header-content {
    width: 500px; }
    header div.header-content blockquote {
      display: block; }
    header div.header-content div.header-content-buttons {
      flex-direction: row;
      width: 500px;
      justify-content: space-around; }
      header div.header-content div.header-content-buttons > button {
        padding: 12px 80px; } }
@media (min-width: 1280px) {
  header {
    background-size: 1920px;
    height: 1200px; }
    header nav {
      left: 0;
      width: 100%; }
      header nav ul {
        justify-self: center; }

  main section.two > div {
    transform: translateX(190px); }
  main section.two > img.yoga-pose-two {
    transform: scale(0.65) translate(-400px, -90px);
    display: block; }
  main section.three > div {
    transform: translateX(-250px); }
  main section.three > img.yoga-pose-three {
    transform: scale(0.65) translate(360px, -120px);
    display: block; }
  main section.four > div {
    transform: translateX(190px); }
  main section.four > img.yoga-pose-four {
    display: block;
    transform: scale(0.65) translate(-600px, -70px); }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    background-position: 50% 0%;
    background-size: 1920px;
    background-image: url("../img/footer_bg.png");
    background-repeat: no-repeat; }
    footer .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 50px 0 80px 0; }
      footer .footer-top div {
        width: 350px;
        height: 500px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: capitalize;
        position: relative;
        font-family: "Lato", sans-serif;
        border-radius: 15px;
        box-shadow: -10px 10px 30px -5px rgba(0, 0, 0, 0.5); }
        footer .footer-top div:nth-child(1) {
          transform: translateX(10px); }
        footer .footer-top div:nth-child(2) {
          z-index: 1;
          transform: translateY(30px);
          border-radius: 0 0 15px 15px; }
          footer .footer-top div:nth-child(2)::before {
            content: 'bestseller';
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 350px;
            height: 60px;
            top: -60px;
            background-color: #ff6a6d;
            text-transform: uppercase;
            color: white;
            font-weight: 900;
            border-radius: 15px 15px 0 0; }
          footer .footer-top div:nth-child(2) ul li::before {
            content: url("../img/svg/bestseller_checkmark.svg"); }
          footer .footer-top div:nth-child(2) span.price::after {
            content: '/Year';
            right: -120px; }
          footer .footer-top div:nth-child(2) button {
            position: absolute;
            bottom: 40px;
            background: linear-gradient(90deg, #ea206b 0%, #ff6a6d 100%); }
            footer .footer-top div:nth-child(2) button::before {
              background: linear-gradient(90deg, #ff6a6d 0%, #ea206b 100%); }
        footer .footer-top div:nth-child(3) {
          transform: translateX(-10px); }
          footer .footer-top div:nth-child(3) h3 {
            position: absolute;
            top: 40px;
            opacity: .65; }
          footer .footer-top div:nth-child(3) ul {
            top: 116px; }
        footer .footer-top div ul {
          list-style-type: none;
          position: absolute;
          top: 75px; }
          footer .footer-top div ul li {
            position: relative;
            padding: 10px 0;
            font: 300 0.8em "Lato", sans-serif;
            color: rgba(0, 0, 0, 0.65); }
            footer .footer-top div ul li::before {
              position: absolute;
              content: url("../img/svg/pricing_checkmark.svg");
              transform: scale(0.65);
              left: -50px;
              bottom: -2px; }
        footer .footer-top div span.price {
          position: relative;
          top: 250px;
          font-size: 4em;
          font-weight: 300;
          opacity: .55; }
          footer .footer-top div span.price::before {
            content: '$';
            position: absolute;
            transform: scale(0.33);
            top: -25px;
            left: -30px; }
          footer .footer-top div span.price::after {
            content: '/Mo';
            position: absolute;
            transform: scale(0.25);
            right: -95px;
            bottom: -25px; }
        footer .footer-top div span.price-info {
          text-transform: lowercase;
          position: absolute;
          bottom: 140px;
          font: italic 300 0.8em "Lato", sans-serif;
          opacity: .65; }
          footer .footer-top div span.price-info::first-letter {
            text-transform: uppercase; }
        footer .footer-top div button {
          position: absolute;
          bottom: 40px;
          border: none;
          border-radius: 28px;
          padding: 20px 30px;
          color: white;
          z-index: 1;
          background: linear-gradient(90deg, #2059ea 0%, #8ec7fb 100%); }
          footer .footer-top div button::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: none;
            border-radius: 28px;
            transition: opacity .5s;
            opacity: 0;
            z-index: -1;
            background: linear-gradient(90deg, #8ec7fb 0%, #2059ea 100%); }
          footer .footer-top div button:hover::before {
            opacity: 1; }
    footer .footer-bot {
      max-width: 1000px;
      border-radius: 130px 130px 0 0; } }
@media (min-width: 1440px) {
  header {
    height: 1340px; }

  main section.two > img.yoga-pose-two {
    transform: scale(0.65) translate(-500px, -90px); } }
@media (min-width: 1920px) {
  body {
    width: 1920px;
    margin: 0 auto; }

  header {
    background-position: 0 0;
    width: 1920px; }

  main section.two {
    width: 1920px;
    margin: 0 auto; }
    main section.two > img.leaves-two, main section.two img.shape-two {
      display: none; }
    main section.two > img.yoga-pose-two {
      transform: scale(0.75) translate(-600px, -90px); }
  main section.three > img.shape-three {
    display: none; }
  main section.three > img.yoga-pose-three {
    transform: scale(0.75) translate(480px, -120px); } }

/*# sourceMappingURL=main.css.map */
